@import "_base.scss";
$orange:#f49f4f;
.wrap{
    //visibility: hidden;
}
html,body{
    width: 100%;
    max-width: 750px;
    height: 100%;
    margin: 0 auto;
    //min-height:REM(1039);
    position: relative;
    background: #fff !important;
}
img{
    display: block;
    width: 100%;
}
.hide{
    display: none;
}
[v-cloak]{
    display: none;
}
body{
  font-size: 0.65rem !important;
}

.formBox{
    padding-bottom: 1rem;
    .list-block{
        margin: 1rem auto;
        font-size: 0.65rem;
        input{
            font-size: 0.65rem !important;
        }
        .item-title.label{
            width: 25%;
        }
      .icon-camera,.icon-address{
        font-size: 1rem;
      }
      .button{
        font-size:0.65rem;
        &.gray{
          border: 1px #ccc solid;
          color: #ccc;
        }
      }
    }
    .button.button-submit{
        height: 2rem;
        line-height: 2rem;
        margin: 0 auto;
        width: 15rem;
      &.gray{
        background: #ccc;
      }
    }
  .tip{
    color:#ff503f;
    .icon-warning-o{
      margin-right: 5px;
      margin-left: 9%;
      font-size: 1rem;
      position: relative;
      top: 2px;
      color:#ff503f;
      b{
        font-size: 0.65rem;
        font-weight: normal;
        line-height: 1.6rem;
        margin-left: 3px;
      }
    }
    .icon-right{
      float: right;
      margin-right: 9%;
      font-size: 0.75rem;
      line-height: 1.8rem;
      &.icon-square{

        color: #acacac;
      }
      &.icon-squarecheck{
        color: #ff503f;
      }
      b{
        margin-left: 5px;
        font-size: 0.65rem;
        font-weight: normal;
        color: #4a4a4a;
      }
    }
    p{
      line-height: 2rem;
    }
  }
}
.content-block{
  padding:0 .25rem !important;
  #tab1,#tab2{
    .card-footer{
      text-align:center;
      color:#ff503f;
      display:block;
      padding: 0;
      line-height: 2.2rem;
      span{
        width: 50%;
        float: left;
        text-align: center;
        &:nth-child(1){
          position: relative;
          &:before{
            width: 1px;
            background: #efefef;
            content: '.';
            font-size: 0;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
          }
        }
        &.call{
          color: #0894ec;
        }
      }
    }
    .card-content-inner{
      p{
        &.result{
          span{
            color: #0894ec;
          }
        }
        .resultBtn{
          display: inline-block ;
          height: 21px;
          line-height: 21px;
        }
      }
    }
  }
}

.modal-title+.modal-text{
  max-height:15rem;
  overflow:auto;
}

.no-message{
  p{
    text-align:center;
    margin:0;
    &.icon-cry,&.icon-smile{
      font-size:3rem;
    }
  }
}
#textarea,#reply,#reply2{
  font-size:0.65rem;
}
#reply{
  position: relative;
  margin-top:-2.2rem;
}
#textarea{
  height:12rem;
}
.sendBtn{
  width: 50%;margin: 0 auto;
  a{
    line-height:1.5rem !important;
    height:1.5rem ;
    &.gray{
      background:#ccc;
    }
  }
}

.toast{
  width:auto !important;
  max-width:80%;
  height:auto !important;
  min-height:2rem;
  font-size:0.65rem !important;
}

.popup-about{
  .content-block{
    position:relative;
    top:10%;
    img{
      width:10rem;
      margin:0 auto;
    }
    p{
      line-height:2rem;
      text-align:center;
    }
    a{
      width:10rem;
      margin:0 auto;
    }
  }
}


//我的信息
.info{
  .list-block{
    font-size: 0.65rem;
    .item-media{
      img{
        @include prefixer(border-radius,100%);
        overflow: hidden;
      }
    }
  }
}

.sort_box{
  position: relative;
}


.cover{
  position: fixed;
  background: rgba(0,0,0,0.8);
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  bottom: 0;
  .ewmBox{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
    p{
      color: #000;
      text-align: center;
    }
    .close{
      width: REM(50);
      height: REM(50);
      position: absolute;
      left: 50%;
      margin-left: REMTWO(50);
      bottom: REMTWO(100);
    }
    img{
      width:80%;
      display: block;
      margin: 0 auto;
      padding-top: 20px;
    }
  }
}