@import "_base.scss";
$orange:#f49f4f;
.wrap{
    //visibility: hidden;
}
html,body{
    width: 100%;
    max-width: 750px;
    height: 100%;
    margin: 0 auto;
    //min-height:REM(1039);
    position: relative;
    background: #fff !important;
}
img{
    display: block;
    width: 100%;
}
.hide{
    display: none;
}
[v-cloak]{
    display: none;
}
body{
  font-size: 0.65rem !important;
}

.formBox{
    padding-bottom: 1rem;
    .list-block{
        margin: 1rem auto;
        font-size: 0.65rem;
        input{
            font-size: 0.65rem !important;
        }
        .item-title.label{
            width: 25%;
        }
      .icon-camera,.icon-address{
        font-size: 1rem;
      }
      .button{
        font-size:0.65rem;
        &.gray{
          border: 1px #ccc solid;
          color: #ccc;
        }
      }
    }
    .button.button-submit{
        height: 2rem;
        line-height: 2rem;
        margin: 0 auto;
        width: 15rem;
      &.gray{
        background: #ccc;
      }
    }
  .tip{
    color:#ff503f;
    .icon-warning-o{
      margin-right: 5px;
      margin-left: 9%;
      font-size: 1rem;
      position: relative;
      top: 2px;
      color:#ff503f;
    }
    p{
      line-height: 2rem;
    }
  }
}
.content-block{
  padding:0 .25rem !important;
  #tab1,#tab2{
    .card-footer{
      text-align:center;
      color:#ff503f;
      display:block;
    }
  }
}

.modal-title+.modal-text{
  max-height:15rem;
  overflow:auto;
}