<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/sm.min.css">
    <link rel="stylesheet" href="css/sm-extend.min.css">
    <link rel="stylesheet" href="font/iconfont.css">
    <title>我要申请</title>
</head>
<body id="index-box">
<!-- page集合的容器，里面放多个平行的.page，其他.page作为内联页面由路由控制展示 -->
    <div class="page-group" id="page-group">
        <!-- 单个page ,第一个.page默认被展示-->
        <div class="page">
            <!-- 工具栏 -->
            <nav class="bar bar-tab">
                <a class="tab-item external" href="javascript:;" @click="go('move.html')">
                    <!--<span class="icon icon-home"></span>-->
                    <span class="tab-label">我要挪车</span>
                </a>
                <a class="tab-item external active" href="javascript:;" @click="go('save.html')">
                    <!--<span class="icon icon-star"></span>-->
                    <span class="tab-label">我要申请</span>
                </a>
                <a class="tab-item external" href="javascript:;" @click="go('listpage.html')">
                    <!--<span class="icon icon-settings"></span>-->
                    <span class="tab-label">我的信息</span>
                </a>
            </nav>

            <!-- 这里是页面内容区 -->
            <div class="content">
                <!-- Slider -->
                <div class="swiper-container" data-space-between='10' style="height: 200px;">
                    <div class="swiper-wrapper" id="swiper-wrapper">
                         <div class="swiper-slide" @click="goDetail(item)" v-for="(item,index) in bannerList"><img :src="item.pic" alt=""></div>
                        <!--<div class="swiper-slide"><img src="images/banner.png" alt=""></div>-->
                        <!--<div class="swiper-slide"><img src="images/banner.png" alt=""></div>-->
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <!--formBox-->
                <div class="formBox">
                    <div class="list-block">
                        <ul>
                            <!-- Text inputs -->
                            <li>
                                <div class="item-content">
                                    <div class="item-media"><i class="icon icon-form-name"></i></div>
                                    <div class="item-inner">
                                        <div class="item-title label"><b>*</b>&nbsp;车牌号码</div>
                                        <div class="item-input">
                                            <input type="text" readonly v-model="car_number" placeholder="请拍照上传您的行驶证" id="car_no"  @focus="inputFocus('#car_no')">
                                        </div>
                                        <div @click="selectPic">
                                            <span class="iconfont icon-camera"></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-media"><i class="icon icon-form-email"></i></div>
                                    <div class="item-inner">
                                        <div class="item-title label"><b>*</b>&nbsp;车辆类型</div>
                                        <div class="item-input">
                                            <input type="text" readonly v-model="car_type" placeholder="车辆类型" id="car_style"  @focus="inputFocus('#car_style')">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-media"><i class="icon icon-form-email"></i></div>
                                    <div class="item-inner">
                                        <div class="item-title label"><b>*</b> 收件人</div>
                                        <div class="item-input">
                                            <input type="text" readonly v-model="proprietor" placeholder="" id="man"  @focus="inputFocus('#man')">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-media"><i class="icon icon-form-email"></i></div>
                                    <div class="item-inner">
                                        <div class="item-title label"><b>*</b>&nbsp;保险公司</div>
                                        <div class="item-input">
                                            <input type="text" id="insurance" readonly v-model="safe" placeholder="请选择保险公司名字" id="safe" @focus="inputFocus('#safe')">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-media"><i class="icon icon-form-email"></i></div>
                                    <div class="item-inner">
                                        <div class="item-title label"><b>*</b>&nbsp;手机号码</div>
                                        <div class="item-input">
                                            <input type="text" v-model="phone" placeholder="请输入您的手机号码" id="phone" @focus="inputFocus('#phone')">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-media"><i class="icon icon-form-email"></i></div>
                                    <div class="item-inner">
                                        <div class="item-title label"><b>*</b>&nbsp;验证码</div>
                                        <div class="item-input">
                                            <input type="text" v-model="code.num" placeholder="请输入短信验证码" id="code" @focus="inputFocus('#code')">
                                        </div>
                                        <div><a @click="getCode" href="javascript:;" class="button" :class="[code.status ? '' : 'gray']" >{{code.txt}}</a></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-media"><i class="icon icon-form-email"></i></div>
                                    <div class="item-inner" @click="getLocation">
                                        <div class="item-title label"><b>*</b> 邮寄地址</div>
                                        <div class="item-input">
                                            <input type="text" v-model="address" readonly placeholder="邮寄地址" id="address" @focus="inputFocus('#address')">
                                        </div>
                                        <div>
                                            <span class="iconfont icon-address"></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-media"><i class="icon icon-form-email"></i></div>
                                    <div class="item-inner" @click="getLocation">
                                        <div class="item-title label"><b>*</b> 状态</div>
                                        <div class="item-input">
                                            已提交
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- <a href="#" class="open-about">Open About Popup </a> -->

                    <a href="javascript:;" class="button button-fill button-submit" @click="bindingHandle" :class="[submitStatus ? '':'gray']" >提交</a>

                </div>
            </div>   
        </div>        
    </div>
    <!-- popup -->
    <div class="popup popup-about">
      <div class="content-block">
        <img src="images/erweima.png">
        <p>此处是文字</p>
        <p><a href="javascript:;" class="button button-big button-round button-fill" @click="goMove">确定</a></p>
      </div>
    </div>
    <script src="js/zepto.min.js"></script>
    <script src="js/sm.min.js"></script>
    <script src="js/sm-extend.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script>
        var follow = 0;
        $(function () {
            new Vue({
                el: "#page-group",
                data: {
                    scrTop:0,
                    phone:'',
                    safe:'',
                    code:{
                        num:'',
                        txt:'获取验证码', //
                        status:true,
                    },
                    car_number:'',   //车牌号
                    car_type:'',     //车辆类型
                    proprietor:'',   //所有人
                    address:'',      //地址
                    Time:5,
                    is_binding:0,   //绑定状态，1为已绑定，0为未绑定，未绑定⽤用户⽆无权点击 其他⻚页⾯面，只能进入绑定页面
                    follow:follow,       //关注状态，1为已关注，0位未关注
                    insurance_data:[],  //保险公司列表  name:保险公司名，code：保险公司代码
                    insurance:[],       //保险公司数据
                    // insurance_data:['iPhone 4', 'iPhone 4S', 'iPhone 5', 'iPhone 5S', 'iPhone 6', 'iPhone 6 Plus', 'iPad 2', 'iPad Retina', 'iPad Air', 'iPad mini', 'iPad mini 2', 'iPad mini 3'],
                    submitStatus:true,
                    bannerList:[],
                    bannerLink:'http://test.xhwxpos.com/jiancheng/weixin/Index/get_banner',
                    getCodeLink:'http://test.xhwxpos.com/jiancheng/weixin/Index/get_msgcode',
                    uploadpicLink:'http://test.xhwxpos.com/jiancheng/weixin/Index/post_uploadpic',
                    binding:'http://test.xhwxpos.com/jiancheng/weixin/Index/post_binding'
                },
                methods:{
                    goMove:function(){
                        window.location.href="{:url('weixin/Index/move')}";
                    },
                    go:function(params){
                        if(this.is_binding==0){
                            $.toast("请先绑定车辆");
                        }else{
                            window.location.href=params;
                        }
                    },
                    //绑定车辆
                    bindingHandle:function(){
                        if(!this.submitStatus) return;
                        var This = this;
                        //处理保险公司数据
                        for(var i = 0 ; i < this.insurance.length; i++){
                            if(this.insurance[i].name == $('#safe').val()){
                                this.safe = this.insurance[i].code;
                            }
                        }
                        if(!this.car_number){
                            $.toast("车牌号不能为空");
                            return;
                        }
                        if(!this.car_type){
                            $.toast("车辆类型不能为空");
                            return;
                        }
                        if(!this.proprietor){
                            $.toast("所有人不能为空");
                            return;
                        }
                        if(!this.safe){
                            $.toast("保险公司不能为空");
                            return;
                        }
                        if(!this.phone){
                            $.toast("手机号码不能为空");
                            return;
                        }
                        if(!this.code.num){
                            $.toast("验证码不能为空");
                            return;
                        }
                        if(!this.address){
                            $.toast("地址不能为空");
                            return;
                        }
                        this.submitStatus = false;
                        $.ajax({
                            url:this.binding,
                            data:{
                                car_number:this.car_number,
                                car_type:this.car_type,
                                proprietor:this.proprietor,
                                insurance_code:this.safe,
                                mobile:this.phone,
                                code:this.code.num,
                                address:this.address
                            },
                            type:'POST',
                            dataType:'json',
                            success:function(res){
                                if(res.status == 0){
                                    $.toast("提交成功");
                                    This.submitStatus = true;
                                }
                            }
                        })
                    },
                    //获取微信地址
                    getLocation:function(){
                        var This = this;
                        $.showPreloader(["获取中..."]);
                        wx.openAddress({
                            success: function (res) {
                                var userName = res.userName; // 收货人姓名
                                var postalCode = res.postalCode; // 邮编
                                var provinceName = res.provinceName; // 国标收货地址第一级地址（省）
                                var cityName = res.cityName; // 国标收货地址第二级地址（市）
                                var countryName = res.countryName; // 国标收货地址第三级地址（国家）
                                var detailInfo = res.detailInfo; // 详细收货地址信息
                                var nationalCode = res.nationalCode; // 收货地址国家码
                                var telNumber = res.telNumber; // 收货人手机号码
                            }
                        });
                    },
                    //选择图片
                    selectPic:function () {
                        var This = this;
                        var localIds = null;
                        var serverId = null;
                        wx.chooseImage({
                            count: 1, // 默认9
                            sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
                            sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                            success: function (res) {
                                localIds = res.localIds[0]; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                                wx.uploadImage({
                                    localId: localIds, // 需要上传的图片的本地ID，由chooseImage接口获得
                                    isShowProgressTips: 1, // 默认为1，显示进度提示
                                    success: function (res2) {
                                        serverId = res2.serverId; // 返回图片的服务器端ID
                                        This.uploadpic(serverId)
                                    }
                                });
                            }
                        });
                    },
                    //上传图片
                    uploadpic:function(serverId){
                        var This = this;
                        $.showPreloader(['识别中...']);
                        $.ajax({
                            url:this.uploadpicLink,
                            data:{
                                page_type:1,
                                serverId:serverId
                            },
                            type:'POST',
                            dataType:'json',
                            success:function(res){
                                $.hidePreloader();
                                if(res.status == 0){
                                    This.car_number = res.data.car_number;
                                    This.car_type = res.data.car_type;
                                    This.proprietor = res.data.proprietor;
                                    This.address = res.data.address;
                                }
                            }
                        })
                    },
                    //获取验证码
                    getCode:function(){
                        var This = this;
                        if(!this.phone){
                            $.toast("请输入手机号码");
                            return false;
                        }
                        if(!(/^0?1[3|4|5|7|8][0-9]\d{8}$/.test(this.phone))){
                            $.toast("手机号码格式不正确");
                            return false;
                        }
                        if(!this.code.status) return;
                        $.ajax({
                            url:this.getCodeLink,
                            data:{
                                mobile:this.phone
                            },
                            type:'GET',
                            dataType:'json',
                            success:function(res){
                                if(res.status == 0){
                                    This.Time = 60;
                                    This.code.status = false;
                                    This.countDown();
                                }
                            }
                        })
                    },
                    //倒计时
                    countDown:function(){
                        console.log(this.Time)
                        var This = this;
                        if(this.Time > 1){
                            this.Time = this.Time-1;
                            this.code.txt = '获取验证码('+this.Time+'s)';
                            setTimeout(function(){
                                This.countDown();
                            },1000)
                        }else{
                            this.Time = 0;
                            this.code.txt = '获取验证码';
                            this.code.status = true;
                        }
                    },
                    goDetail:function(item){
                        if(item.url){
                            window.location.href = item.url;
                        }
                    },
                    getBanner:function(){
                        var This = this;
                        $.ajax({
                            url:this.bannerLink,
                            data:{
                                page_type:1
                            },
                            type:'GET',
                            dataType:'json',
                            success:function(res){
                                if(res.status == 0 ){
                                    This.bannerList = res.banner_data;
                                    This.insurance_data = res.insurance_data.map(function(item){
                                        return item.name
                                    });
                                    This.insurance = res.insurance_data;
                                    if(This.bannerList.length == 1){
                                        $(".swiper-container").swiper();
                                    }else{
                                        setTimeout(function(){
                                            var imgSrc = $('.swiper-slide').find('img');
                                            var arrHeight = [];
                                            for(var i = 0 ; i < imgSrc.length ; i++){
                                                arrHeight.push(imgSrc.eq(i).height());
                                            }
                                            var arrHeight = arrHeight.sort(function(a,b){return a-b});
                                            $('.swiper-container').css({'height':arrHeight[0]+'px','overflow-y':'hidden'})
                                            $(".swiper-container").swiper({
                                                pagination: ".swiper-pagination",
                                                autoplay:2000,
                                                loop : true,
                                            });
                                        },600)
                                    }
                                }
                            }
                        })
                    },
                    inputFocus:function(id){
                       this.scrTop = $(id).offset().top
                    }
                },
                mounted:function(){
                    // $.toast("选择保险公司选择保险公司选择保险公司选择保险公司选择保险公司选择保险公司选择保险公司选择保险公司",'1000000')
                    var This = this;
                    // this.getBanner();
                    // $(".swiper-container").swiper({
                    //     pagination: ".swiper-pagination",
                    //     autoplay:2000,
                    //     loop : true,
                    // });
                    //保险公司数据
                    $("#insurance").picker({
                        toolbarTemplate: '<header class="bar bar-nav">\
                              <button class="button button-link pull-right close-picker">确定</button>\
                              <h1 class="title">选择保险公司</h1>\
                              </header>',
                        cols: [
                            {
                                textAlign: 'center',
                                values: This.insurance_data
                            }
                        ]
                    });

                    $(document).on('click','.open-about', function () {
                      $.popup('.popup-about');
                    });

                    //输入框自动滚动
                    $(window).resize(function(){
                       setTimeout(function(){
                           $(".content").scrollTop(This.scrTop);
                       },30)
                    })
                }
            })
        })
    </script>
</body>
</html>