<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/sm.min.css">
    <link rel="stylesheet" href="css/sm-extend.min.css">
    <link rel="stylesheet" href="font/iconfont.css">
    <title>挪车记录</title>
</head>
<body id="index-box">
    <!-- page集合的容器，里面放多个平行的.page，其他.page作为内联页面由路由控制展示 -->
    <div class="page-group" id="page-group">
        <!-- 单个page ,第一个.page默认被展示-->
        <div class="page">
            <!-- 工具栏 -->
            <nav class="bar bar-tab">
                <a class="tab-item external " href="move.html">
                    <!--<span class="icon icon-home"></span>-->
                    <span class="tab-label">我要挪车</span>
                </a>
                <a class="tab-item external" href="save.html">
                    <!--<span class="icon icon-star"></span>-->
                    <span class="tab-label">我要保险</span>
                </a>
                <a class="tab-item external active" href="javascript:;">
                    <!--<span class="icon icon-settings"></span>-->
                    <span class="tab-label">挪车记录</span>
                </a>
            </nav>

            <!-- 这里是页面内容区 -->
            <div class="content" >
                <div class="buttons-tab">
                    <a href="#tab1" class="tab-link  button" @click="tabIndex = 1">我的挪车</a>
                    <a href="#tab2" class="tab-link active button" @click="tabIndex = 2">我的车辆</a>
                </div>
                <div class="content-block">
                    <div class="tabs">
                        <div id="tab1" class="tab ">
                            <div class="content-block">
                                <div class="card" v-show="!loading && mymove.length == 0">
                                    <div class="card-content">
                                      <div class="card-content-inner no-message">
                                          <p class="iconfont icon-cry"></p>
                                          <p>暂无数据</p>
                                      </div>
                                    </div>
                                </div>
                                <div class="card" v-for="(item,index) in mymove" :key="index">
                                    <div class="card-header">车牌号码:<span>{{item.car_number}}</span></div>
                                    <div class="card-content">
                                      <div class="card-content-inner">
                                          <p>挪车原因：{{item.reason}}</p>
                                          <p>挪车地点：{{item.address}}</p>
                                          <p>挪车时间：{{item.time}}</p>
                                      </div>
                                    </div>
                                    <div class="card-footer" @click="delMymoveHandle(item)">删除</div>
                                </div>
                            </div>
                        </div>
                        <div id="tab2" class="tab active">
                            <div class="content-block">
                                <div class="card" v-show="!loading && mycarlog.length == 0">
                                    <div class="card-content">
                                      <div class="card-content-inner no-message">
                                          <p class="iconfont icon-cry"></p>
                                          <p>暂无数据</p>
                                      </div>
                                    </div>
                                </div>
                                <div class="card" v-for="(item,index) in mycarlog" :key="index"> 
                                    <div class="card-header">车牌号码:<span>{{item.car_number}}</span></div>
                                    <div class="card-content">
                                      <div class="card-content-inner">
                                          <p>挪车原因：{{item.reason}}</p>
                                          <p>挪车地点：{{item.address}}</p>
                                          <p>挪车时间：{{item.time}}</p>
                                      </div>
                                    </div>
                                    <div class="card-footer" @click="delMyCarLogHandle(item)">删除</div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="js/zepto.min.js"></script>
    <script src="js/sm.min.js"></script>
    <script src="js/sm-extend.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script>
        $(function () {
            new Vue({
                el: "#page-group",
                data: {
                    scrTop:0,
                    mymove:[],
                    mycarlog:[],
                    page1:1,
                    page2:1,
                    tabIndex:1,
                    loading:true,
                    myMoveLink:'http://test.xhwxpos.com/jiancheng/weixin/Index/get_mymove',
                    delMymoveLink:'http://test.xhwxpos.com/jiancheng/weixin/Index/del_mymove',
                    myCarlogLink:'http://test.xhwxpos.com/jiancheng/weixin/Index/get_mycarlog',
                    delMyCarLogLink:'http://test.xhwxpos.com/jiancheng/weixin/Index/del_mycarlog'
                },
                methods:{
                    //删除我的车辆挪车记录
                    delMyCarLogHandle(item){
                        var This = this;
                        $.confirm('确认删除?', function () {
                              $.ajax({
                                url:This.delMyCarLogLink,
                                data:{
                                    code:item.code
                                },
                                type:'POST',
                                dataType:'json',
                                success:function(res){                                    
                                    if(res.status == 0){
                                        $.toast('删除成功');
                                        This.getMyCarlog();
                                    }
                                }
                            })
                        });
                    },
                    //删除我的挪车记录
                    delMymoveHandle(item){
                        var This = this;
                        $.confirm('确认删除?', function () {
                              // $.alert('You clicked Ok button');
                              $.ajax({
                                url:This.delMymoveLink,
                                data:{
                                    code:item.code
                                },
                                type:'POST',
                                dataType:'json',
                                success:function(res){
                                    This.loading = false;
                                    if(res.status == 0){
                                        This.getMyMove();
                                    }
                                }
                              })
                        });
                    },
                    //我的挪车
                    getMyMove:function(){         
                        var This = this;           
                        if(this.tabIndex == 1){
                            this.loading = true;
                            $.showPreloader();
                        }                       
                        
                        $.ajax({
                            url:this.myMoveLink,
                            data:{
                                page:this.page1
                            },
                            type:'GET',
                            dataType:'json',
                            success:function(res){
                                This.loading = false;
                                $.hidePreloader();
                                if(res.status == 0){
                                    This.mymove = res.data;
                                }
                            }
                        })
                    },
                    //我的车辆挪车记录
                    getMyCarlog:function(){
                        var This = this;
                        if(this.tabIndex == 2){
                            $.showPreloader();
                            this.loading = true;
                        }
                        $.ajax({
                            url:this.myCarlogLink,
                            data:{
                                page:this.page2
                            },
                            type:'GET',
                            dataType:'json',
                            success:function(res){
                                This.loading = false;
                                $.hidePreloader();
                                if(res.status == 0){
                                    This.mycarlog = res.data;
                                }
                            }
                        })
                    }
                },
                mounted:function(){
                    this.getMyMove();
                    this.getMyCarlog();
                }
            })
        })
    </script>
</body>
</html>